body {
    background-color: #212121;
    margin: 10px;
    color: #ffffff;
    font-family: "Stardew Valley", sans-serif;
}

/* Шрифт Stardew Valley */
@font-face {
    font-family: "Stardew Valley";
    src: url("assets/font-regular.otf") format("opentype");
}

/* Баннер */
.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

/* Картинка внутри баннера */
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
}

/* Заголовок */
h1 {
    color: white;
}

/* ModHub */
.ModHub {
    color: white;
    font-weight: bold;
}