.ModHub{
    background: linear-gradient(#f3d490,#fabd8f,#fae98f);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}
body{
    background-color: #212121;
    margin: 0 ;
    color: #ffffff;
    font-family: "Stardew Valley", sans-serif;
}
@font-face {
    font-family: 'Stardew Valley';
    src:url("assets/font-regular.otf") format("truetype");
}
.banner{
    width: 100%;
    height: 180px;
    object-fit: cover; /* Обрезает картинку без сжатия */
    object-position: center; /* Держит логотип по центру */
    display: block;
}
